click
Flask~=2.0.1
itsdangerous
Jinja2
MarkupSafe
pip
setuptools
Werkzeug~=2.0.1
Flask-SQLAlchemy
Flask-Login
Flask-Talisman
pycryptodome
SQLAlchemy
WTForms~=2.3.3
cryptography
Flask-WTF
email-validator
Crypto
pyotp
Flask-Talisman